@{
	ViewData["Title"] = "Contact";
}

<div class="box">
	<h1>Md. Tanvir Ahmed Siddique</h1>
	<h2 class="h2">tanvir.24633@gmail.com</h2>
	<h2 class="h2">01704476935</h2>
	<p>Sector 10, Uttara, Dhaka, Bangladesh.</p>
</div>