@{
    ViewData["Title"] = "Home";
}

<div class="box">
    <h1>Welcome to Event2Go.</h1>
    <p>Enhance your experience of events with us.</p>
</div>

<div class="box">
    <a class="button2" asp-controller="Participant" asp-action="Login">Participate an Event</a>
    <a class="button2" asp-controller="Organizer" asp-action="Login">Organize an Event</a>
</div>
