@{
    ViewData["Title"] = "Privacy & Policy";
}

<div class="box">
    <h1>Event2Go</h1>
    <h2 class="h2">Md. Tanvir Ahmed Siddique</h2>
    <h2 class="h2">ID: 22203097</h2>
    <p>This project is done for the the assignment of CSC 440 (Visual Programming Lab) course.</p>
    </div>