<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Go2Event</title>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Go2Event.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <a class="homebutton" asp-controller="Home" asp-action="Index">Go2Event</a>
        <a class="button" asp-controller="Home" asp-action="Contact">Contact Us</a>
        <a class="button" asp-controller="Home" asp-action="About">About Us</a>
    </header>

    <div class="maincontent">
        @RenderBody()
    </div>

    <footer>
            &copy; 2026 - Go2Event is owned by <b>Tanvir Ahemd</b> - <a asp-area="" asp-controller="Home" asp-action="Privacy">Learn more</a>.
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
